<!DOCTYPE html>
<html lang="en">

    <% include ../partials/head %>

    <body>

        <% include ../partials/nav %>

        <section name="jumbotron"  >
            <div class="jumbotron text-center">
                <h1>Nodejs+MongoDB+Bootstrap 스터디</h1>
                <p>ttc 천리길도 한 걸음부터...</p>
            </div>
        </section>

        <% include ../partials/3columns %>

        <% include ../partials/footer %>

        <% include ../partials/scripts %>

    </body>

</html>
